export(AIC.lrgpr)
export(BIC.lrgpr)
export(coefficients.lrgpr)
export(convertToBinary)
export(criterion.lrgpr)
export(cv.lrgpr)
export(df.residual.lrgpr)
export(error.bar)
export(getAlleleFreq)
export(getAlleleVariance)
export(getMissingCount)
export(glmApply)
export(influence.lrgpr)
export(leverage.lrgpr)
export(lm.influence.lrgpr)
export(logLik.lrgpr)
export(loss.lrgpr)
export(lrgpr)
export(lrgprApply)
export(.mm_get_colnames)
export(.mm_get_response)
export(.mm_get_terms)
export(.mm_replace_query)
export(.pkg.env)
export(plot.criterion.lrgpr)
export(plot.cv.lrgpr)
export(plot.lrgpr)
export(predict.lrgpr)
export(print.lrgpr)
export(print.summary.lrgpr)
export(QQ_plot)
export(read.fam)
export(read.tfam)
export(residuals.lrgpr)
export(rstandard.lrgpr)
export(set_missing_to_mean)
export(summary.lrgpr)
export(vcov.lrgpr)
export(wald)
useDynLib(lrgpr)
